<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="true"
	  internalLogLevel="Trace"
      internalLogFile="internal.log">

	<extensions>
		<add assembly="NLog.Database" />
	</extensions>

	<rules>
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>

	<targets>
		<target xsi:type="Database"
				name="database"
				dbProvider="sqlserver"
				connectionString="Server=ktvcss.ru;Database=kTVCSSv2;User ID=;Password=;TrustServerCertificate=True;Integrated Security=false;"
				commandText="
                 INSERT INTO Logs (TimeStamp, Level, Logger, Message, Exception)
                 VALUES (GETDATE(), @level, @logger, @message, @exception)">
			<parameter name="@time_stamp" layout="${longdate}" />
			<parameter name="@level"      layout="${level}" />
			<parameter name="@logger"     layout="${logger}" />
			<parameter name="@message"    layout="${message}" />
			<parameter name="@exception"  layout="${exception:format=ToString}" />
		</target>
	</targets>
</nlog>